.navbar {
  background: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 12rem;
  color: white;
  border-right: 0.1rem solid rgb(200, 200, 200, 0.1);
  z-index: 10;
  transform: translateX(-100%);
  transition: var(--transition);
}

.show-navbar {
  transform: translateX(0);
}

.navbar .logo {
  padding: 2rem 0;
  text-align: center;
}

.logo img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar li {
  border-bottom: 0.1rem solid rgb(200, 200, 200, 0.1);
  padding: 1rem;
}
.navbar li:first-of-type {
  border-top: 0.1rem solid rgb(200, 200, 200, 0.1);
}

.navbar a {
  color: white;
}
.navbar a:hover {
  text-decoration: underline;
}

.toggle-btn {
  background: rgb(0, 0, 0, 0.3);
  position: absolute;
  top: 1rem;
  left: 120%;
  font-size: 1.5rem;
}
