.section {
  margin: 3rem 0;
}

.section-center {
  margin: 0 auto;
  width: 90vw;
  max-width: 800px;
}

.hero p,
.hero h2 {
  margin-top: 1.5rem;
}

.hero ul {
  list-style: circle;
  margin-top: 1rem;
  padding-left: 2rem;
}
